<div class="container-create-form">
  <h2>Nuevo Pokemon</h2>
  <br /><br />
  <form [formGroup]="createForm" class="create-form">
    <div class="block">
      <div class="container-field">
        <h2>Nombre:</h2>
        <app-input>
          <input type="text" formControlName="nombre" />
        </app-input>
      </div>
      <br /><br />
      <div class="container-field">
        <h2>Imagen:</h2>
        <app-input>
          <input type="text" formControlName="imagen" />
        </app-input>
      </div>
    </div>
    <div class="block">
      <app-slider [field]="'Ataque'" formControlName="ataque"></app-slider>
      <br /><br />
      <app-slider [field]="'Defensa'" formControlName="defensa"></app-slider>
    </div>
  </form>
  <br /><br /><br />
  <p class="container-button">
    <app-btn [textButton]="'Guardar'" [disabled]="true" (click)="createPokemon()" [icon]="'fas fa-save'"></app-btn>
    <app-btn [textButton]="'Cancelar'" (click)="toggle()" [icon]="'fas fa-times'"></app-btn>
  </p>
</div>
<br/><br/>
