.container-create-form{
  margin: auto;
  border: 1px solid #ccc;
  text-align: center;
  width: 100%;
}
.create-form{
  display: flex;
  justify-content: space-around;
  .block{
    min-width: 45%;
    text-align: center;
    padding: 10px;
    .container-field{
      display: flex;
      justify-content: space-between;
    }
  }
}

@media (max-width:800px) {
  .create-form{
    display: block;
    width: 100%;
    .block{
      justify-content: center;
      padding: 20px;
    }
  }
}
