/* Variables */
:root {
  --primary-color: #26a69a; /* Color verde para estados válidos */
  --error-color: #e53935; /* Color rojo para estados inválidos */
}

.input-container {
  border: solid 0.5px #707070;
  border-radius: 5px;
  padding: 15px 10px;
  display: flex;
  position: relative;
}

label {
  top: 10px;
  left: 10px;
  display: flex;
  align-items: center;
  position: absolute;
  background-color: white;
  padding: 4px 2px;
  cursor: text;
  transition: 0.2s ease-in-out;
  box-sizing: border-box;
  font-size: 22px;
}

input {
  width: 90%;
  border: 0;
  margin-top: 1px;
  margin-left: 5px;
  padding: 0px 5px;
  outline: none;
  transition: 0.2s ease-in-out;
  box-sizing: border-box;
  font-size: 22px;
}

/* Estilos para el estado "valid" */
.input-container.valid {
  border: 2px solid var(--primary-color);
}

.input-container.valid label {
  color: var(--primary-color);
  font-size: 14px;
  top: -18px;
}

/* Estilos para el estado "invalid" */
.input-container.invalid {
  border: 2px solid var(--error-color);
}

.input-container.invalid label {
  color: var(--error-color);
  font-size: 14px;
  top: -18px;
}

@media (max-width:500px){
  .input-container{
    width: 80%;
  }
}
