/* Estilos para el botón en estado normal */
.btn {
  padding: 14px 16px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
  font-size: 22px;
  width: max-content;
}

/* Estilos para el estado "btn-primary" */
.btn-primary {
  background-color: #5c4fd8;
}

/* Estilos para el estado "btn-secondary" */
.btn-secondary {
  background-color: #38ef7d;
}

/* Estilos para el estado "hover" */
.btn:hover {
  background-color: #555;
}

/* Estilos para el estado "disabled" */
.btn:disabled {
  background-color: #999;
  cursor: not-allowed;
  opacity: 0.6; /* Puedes ajustar la opacidad según tus preferencias */
}
